body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #242424;
}

#quote-box {
	text-align: left;
	padding: 3em;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	max-width: 600px;
	min-width: 300px;
}

#text {
	margin: 0;
	font-size: 1.2em;
	color: #333333;
	padding: 0 0 1em 0;
	text-align: justify;
}

#author {
	margin: 10px 0 0;
	font-size: 1em;
	color: #555555;
	text-align: end;
	padding: 0 0 1em 0;
}

button {
	border-radius: 8px;
	border: none;
	padding: 8px 16px;
	background-color: #333333;
	color: #f4f4f4;
	margin: 2px;
	text-align: end;
	font-size: 1em;
}

button:hover,
button:focus {
	cursor: pointer;
	background-color: #555555;
}

a {
	text-decoration: none;
	color: #f4f4f4;
}

@media (max-width: 768px) {
	#quote-box {
		max-width: 80%;
	}
}
